

.label {
    margin:20px 0;
    position:relative;
    /* display:inline-block; */
  }
    
  .span {
    
    padding:2px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.9s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    font-size: 25px;
    /* border: 1px solid black; */
  }
  
  .input {
    /* padding:100px; */
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    outline: 0;
    width:100%;
  }
 
  
  .input:focus + span, .input:not(:placeholder-shown) + span {
    opacity:1;
    left:10px;
    top:-10px ;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
  }

a:focus,
button:focus,
.input:focus,
textarea:focus {
outline: none !important;
}

*:focus {
    outline: 0;
}